<p>
  <!-- Printed using navigate method -->
  You have successfully logged In !!!<br><br>
  Please Select the Dates
</p>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  
 
</div>

<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

 
</div> -->

<button (click)="showSuccess()"> Submit</button>
<button (click)="showError()">Check Status</button>
<button (click)="showWarning()">Verify</button>
