

table {
  display: table-row-group;
  vertical-align: middle;
  border-color: rgb(24, 23, 23);
}

/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
   */